html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--red);
  text-align: center;
}
.MuiTab-root {
  color: var(--gold);
}
:root {
  --red: #8e001c;
  --gold: #ffb300;
}

@font-face {
  font-family: "Gilda Display";
  src: url("/fonts/Gilda_Display/GildaDisplay-Regular.ttf");
}
