html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--red);
  text-align: center;
}
.MuiTab-root,
.MuiInputLabel-root,
.MuiOutlinedInput-input {
  color: var(--gold) !important;
}
.MuiLinearProgress-root {
  background-color: var(--red) !important;
}
.MuiOutlinedInput-input::selection {
  color: var(--red);
  background: var(--gold);
}

.MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-notchedOutline:hover {
  border-color: var(--gold) !important;
}
.MuiTooltip-tooltip {
  background-color: var(--gold) !important;
  color: var(--red) !important;
  font-size: 1rem !important;
}
.MuiTooltip-tooltip::selection {
  background-color: var(--red) !important;
  color: var(--gold) !important;
  font-size: 1rem !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
:root {
  --red: #8e001c;
  --gold: #ffb300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}
