.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}
.header::selection {
  color: var(--red);
  background: var(--gold);
}
.tabsContainer {
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.tab {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
  gap: 1rem;
  flex-grow: 1;
}
.triviaCard {
  width: 90%;
  margin: 0 auto 2rem auto;
  height: 20%;
  overflow: auto;
  display: flex;
  align-items: center;
}
.triviaCardText::selection {
  color: var(--gold);
  background: var(--red);
}
@media screen and (max-width: 810px) {
  .assistButtonsParent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-height: 666px) {
  .triviaCard {
    display: none;
  }
}
